<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MedicalForum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0800110F1A30330B00C835A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>082F34D61A1B15DE00AFD273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>082F34F21A1B15DE00AFD273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08DF17A51A314E1F008927AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
